@using SalesAnalysis.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


<fieldset>
    <legend>Sales filtered</legend>
    <table class="table">
        <tr>
            <th>
                <text>Manager</text>
            </th>
            <th>
                <text>Date From</text>
            </th>
            <th>
                <text>Date To</text>
            </th>

        </tr>

        <tr>
            <td>
                @Html.DropDownList("ManagerId", (SelectList)ViewBag.ManagersList, "All managers")
            </td>
            <td>
                <input type="text" id="datefrom" class="datepicker">
            </td>
            <td>
                <input type="text" id="dateto" class="datepicker">
            </td>

        </tr>


    </table>
</fieldset>


@*<div id="salesfiltered">@{Html.RenderPartial("SalesFiltered");} </div>*@
<div id="salesfiltered">@{Html.RenderAction("SalesFiltered", "Sales"); }</div>

<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>

<script>
    $(function () {
        $("#datefrom").datepicker({
            dateFormat: "dd/mm/yy",
            defaultDate: "+1w",
            changeMonth: true,
            numberOfMonths: 1,
            onClose: function (selectedDate) {
                $("#dateto").datepicker("option", "minDate", selectedDate);
            }
        });
        $("#dateto").datepicker({
            dateFormat: "dd/mm/yy",
            defaultDate: "+1w",
            changeMonth: true,
            numberOfMonths: 1,
            onClose: function (selectedDate) {
                $("#datefrom").datepicker("option", "maxDate", selectedDate);
            }
        });
    });
</script>

<script type="text/javascript">
    $(document).ready(function ()
    {
        $("#ManagerId").change(function () {
            //alert($("#ManagerId option:selected").val());
            $.ajax({
                type: 'GET',
                url: "@Url.Content("/Sales/SalesFiltered/")",
                data: {
                    Id: $(this).val()                 
                },
                dataType: 'html',
                success: function (result) {
                    $('#salesfiltered').html(result);
                }
            });
        });
    });
</script>
